.dragGods {
  width: 7em;
  height: 7em;
}
.test {
  min-height: 10em;
}

.cajaCounters {
  border-radius: var(--border-rad-big);
  background: var(--black-black-12, #1a1b23);
  margin: 1em auto;
  padding: 1em;
  color: var(--blanco);
}

.img-principal-counter {
  width: 10em;
  height: auto;
  padding: 1em 0;
  border-radius: var(--border-rad-big);
}

.filtered-gods-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.filtered-god-image {
  border-radius: var(--border-rad-big);
  width: 4em;
}

.selected-gods-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0;
}
.selected-god-image  img{
  border-radius: var(--border-rad-big);
  width: 6em;
}

.selected-god-image {
  position: relative;
}

.remove-god-icon {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  cursor: pointer;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease;
  font-size: 20px;
  color: red; /* Puedes ajustar el color según tus preferencias */
}
 
.selected-god-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para mayor legibilidad */
  color: white; /* Color del texto */
  padding: 0.5em;
  box-sizing: border-box;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease;
}

.selected-god-image:hover .remove-god-icon {
  opacity: 1;
}

.selected-god-image:hover .selected-god-name {
  opacity: 1;
}

.actionBtn button{
  margin: .51em;
}